<?page title="Servicio" contentType="text/html;charset=UTF-8"?>

<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" arg0="./catPlanes"?>

<zk>
	<zscript>
<![CDATA[
	
	Object entidadCatalogo = null; //para que sirve esto??????
			// parece ser que se relaciona con el selecteditem en los bindings
	List planes = new ArrayList();
	
	dto.Plan plan = new dto.Plan();
	plan.setCodigo(1);
	plan.setDescripcion("Bienvenido al spa");
        plan.setCosto(1000);
	planes.add(plan);
	
        dto.Plan plan = new dto.Plan();
	plan.setCodigo(2);
	plan.setDescripcion("Relajación");
        plan.setCosto(3000);
	planes.add(plan);
        
        dto.Plan plan = new dto.Plan();
        plan.setCodigo(3);
	plan.setDescripcion("Salud");
        plan.setCosto(55000);
	planes.add(plan);
        
        dto.Plan plan = new dto.Plan();
        plan.setCodigo(4);
	plan.setDescripcion("Puros masajes");
        plan.setCosto(10300);
	planes.add(plan);
]]>
</zscript>






<window id="catPlanes" title="Planes" maximizable="false" border="normal"	width="60%" height="550px">
	<div height="88%">
		<panel title="" height="90%" border="normal" collapsible="false">
			<panelchildren>
				<borderlayout>
					<center autoscroll="true">
						<listbox id="lstbox" model="@{planes}" selectedItem="@{entidadCatalogo}" mold="paging" pageSize="50" multiple="false">
							<attribute name="onSelect">
								<![CDATA[
									catPlanes.setAttribute("objeto",lstbox.getSelectedItem().getValue());
									catPlanes.setAttribute("accion","A");
									catPlanes.detach();
								]]>
							</attribute>
							<listhead sizable="true">
								<listheader width="100%" label="Descipcion" align="center"/>
                                                                <listheader width="100%" label="Costo" align="center"/>
							</listhead>
							<listitem sclass="row-border item" self="@{each=actualCatalogo}" value="@{actualCatalogo}">
									<listcell label="@{actualCatalogo.descripcion}" />
                                                                        <listcell label="@{actualCatalogo.costo}" />
							</listitem>
						</listbox>
					</center>
				</borderlayout>
			</panelchildren>
		</panel>
	</div>

	<div align="right" height="12%" style="background:#2E2E2E">
		<button id="btnCancelar" label="Cancelar">
			<attribute name="onClick">
				<![CDATA[
					catPlanes.setAttribute("accion","C");
					catPlanes.detach();
					
				]]>
			</attribute>
		</button>
	</div>
</window>




















	
</zk>