<?page title="new page title" contentType="text/html;charset=UTF-8"?>




<zk>




<zscript>
		<![CDATA[
	
	
	void irOpcion(String opcion) {
		login.getChildren().clear();
		Map parametros = new HashMap();
		Component component = Executions.createComponents(opcion, login, parametros);
		component.setParent(login);
	}
	
	
]]>
	</zscript>





		<button image="/img/cer.png" style="background:#11F54C">
							<attribute name="onClick">
								<![CDATA[
							         lstSpa.detach();
								]]>
							</attribute>
						</button>

<window title="Iniciar Sesión Administrador" border="normal" width="40%" style="margin: auto;" id="login">
<grid    hflex="1">
			<auxhead style="background:#2E2E2E">
				<auxheader colspan="3" label="Admin"
					style="font-size:16px; background:#2E2E2E" image="img/issue.png"  />
			</auxhead>
			<columns></columns>

					<rows>
					<row>
						Administrador:
						<textbox hflex="1" />
					</row>
					<row>
						Contraseña:
						<textbox hflex="1" />
					</row>

				<row spans="2" align="right">
					<hlayout>
						<button id="ingUSpa" label="Ingresar" href="indexAdmin.zul" style="background:#11F54C">
							
						</button>
					</hlayout>
				</row>

				</rows>
		</grid>
</window>
</zk>