body{
    width: 100%;
    margin:0 auto;
}
.cabeza{
    width: 100%;
    background: rgb(46,46,46);
    padding: 0px;
}
.cabeza-img{
    width: 220px;
    height: 50px;
}
.cabeza-registrar{
    text-decoration: none;
    padding-top: 2px;
    background: rgb(18,18,18);
    float: left;
    margin-right: 1%;
    width: 120px;
    color:white;
    height: 25px;
    text-align:center;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgb(17,245,76);
    
    
}

.cabeza-dos{
    position:absolute;
    left:90%;
}
.cabeza-icono{
    padding-top: 2px;
    background: rgb(18,18,18);
    float: left;
    margin-right: 1%;
    width: 50px;
    color:white;
    height: 25px;
    text-align:center;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgb(17,245,76);
}
.cabeza-admin{
    text-align: center;
    width: 850px;
}
.cabeza-dos-admin{
    position:absolute;
    left:95%;
}
.cabeza-nombre-admin{
    text-shadow: rgb(17,245,76) 1px 1px 1px;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: white;
    margin-top: -1%;
}
.acciones{
    width: 16%;
    background: rgb(46,46,46);
}
.acciones-fila{
    padding-top: 20px;
    height: 80px;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(17,245,76);
}
.acciones-fila-img{
    height: 30px;
    width: 30px;
} 
.acciones-fila-text{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-left: 5px;
}
.contenido-index{
    text-align: center;
    padding-top:15%;
    width: 100%;
    height: 100%;
    background: rgb(235,235,235);
}
.contenido-index-saludo{
    text-shadow: rgb(255,109,55) 1px 1px 1px;
    color:rgb(46,46,46);
    font-size: 5em;
    font-family: 'Arizonia', cursive;
}
.calendario-reservacion{
    height: 50%;
    width: 50%;
}
.botones{
    height: 10%;
    width: 10%;
}
.quitarPadding{
	padding: 0px;
	margin: -1%;
}
.center{
	height: 80px;
}
.main{
	margin: -1%;
	padding: 0;
}
.main2{
	margin: -1%;
	border:0;
}
.center{
	padding-left: 0px;
	height: 400px;
}
#slide{
	min-height: 400px;
}
.container{
	height: 400px;
	
}

.z-window{
	border: none;
}	
}